<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SmartLockerDB"
			 connectionString="Server=MSI\MSSQLSERVER01;Database=SmartLockerDB; Integrated Security=True; TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>