USE [master]
GO
/****** Object:  Database [SmartLockerDB]    Script Date: 12/17/2024 7:38:14 PM ******/
CREATE DATABASE [SmartLockerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartLockerDB', FILENAME = N'SmartLockerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartLockerDB_log', FILENAME = N'SmartLockerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartLockerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartLockerDB]
GO
/****** Object:  User [AUTORITE NT\Système]    Script Date: 12/17/2024 7:38:14 PM ******/
CREATE USER [AUTORITE NT\Système] FOR LOGIN [AUTORITE NT\Système] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [AUTORITE NT\Système]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [AUTORITE NT\Système]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [AUTORITE NT\Système]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [AUTORITE NT\Système]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [AUTORITE NT\Système]
GO
ALTER ROLE [db_datareader] ADD MEMBER [AUTORITE NT\Système]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [AUTORITE NT\Système]
GO
/****** Object:  Table [dbo].[Apps]    Script Date: 12/17/2024 7:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Apps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContrainteHoraires]    Script Date: 12/17/2024 7:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContrainteHoraires](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AppId] [int] NOT NULL,
	[MaxTime] [int] NOT NULL,
	[BlockTime] [int] NOT NULL,
	[UsedTime] [int] NOT NULL,
 CONSTRAINT [PK_ContrainteHoraires] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContrainteJours]    Script Date: 12/17/2024 7:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContrainteJours](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AppId] [int] NOT NULL,
	[MaxTime] [int] NOT NULL,
	[UsedTime] [int] NOT NULL,
 CONSTRAINT [PK_ContrainteJours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContrainteSemaines]    Script Date: 12/17/2024 7:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContrainteSemaines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AppId] [int] NOT NULL,
	[MondayTime] [int] NOT NULL,
	[TuesdayTime] [int] NOT NULL,
	[WednesdayTime] [int] NOT NULL,
	[ThursdayTime] [int] NOT NULL,
	[FridayTime] [int] NOT NULL,
	[SaturdayTime] [int] NOT NULL,
	[SundayTime] [int] NOT NULL,
	[UsedTime] [int] NOT NULL,
 CONSTRAINT [PK_ContrainteSemaines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatistiquesUtilisations]    Script Date: 12/17/2024 7:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatistiquesUtilisations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Time] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[UserId] [int] NOT NULL,
	[AppId] [int] NOT NULL,
 CONSTRAINT [PK_StatistiquesUtilisations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilisateurs]    Script Date: 12/17/2024 7:38:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilisateurs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Role] [bit] NOT NULL,
 CONSTRAINT [PK_Utilisateurs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
